<%- model_class = Machine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class="row">
  <div class="col-lg-3 pull-right">
      <div class="input-group custom-search-form">
           <%= search_form_for @search do |f| %>
              <div class="field">
                <%= f.label :make_cont, "Search Machine" %>
                <%= f.text_field :make_cont, :placeholder => ' Make Type' %>
              </div>
              <div class="actions"><%= f.submit "Search", :class => "button" %></div>
            <% end %>            
       </div><!-- /input-group -->
    </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th><%= model_class.human_attribute_name(:make) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:serial_number) %></th>
      <th><%= model_class.human_attribute_name(:capacity) %></th>
      <th><%= model_class.human_attribute_name(:last_calibration_date) %></th>
      <th><%= model_class.human_attribute_name(:due_date ) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= link_to machine.id, machine_path(machine) %></td>
        <td><%= machine.customer.name if machine.customer%></td>
        <td><%= machine.make %></td>
        <td><%= machine.model %></td>
        <td><%= machine.serial_number %></td>
        <td><%= machine.capacity %>&nbsp; <%= machine.units %></td>
        <td><%= machine.last_calibration_date %></td>
        <td><%= machine.due_date %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_machine_path(machine), :class => 'btn btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      machine_path(machine),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_machine_path,
            :class => 'btn btn-primary' %>
            
            
            <div align="center"><%= will_paginate @machines, renderer: BootstrapPagination::Rails %>
         </div>
